<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} American Sofos. Todos los derechos reservados.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Diseñado por José Gallo Escobar
  </p>
</footer>
