---

---
<div class="mt-24">
  <h2 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight text-slate-500">
    Nuestras marcas asociadas
  </h2>

  <p class="text-center text-lg mt-4 text-slate-600">
    Trabajamos con los mejores nombres de la industria para traerte lo último en moda y tendencias.
  </p>

  <div class="brands-carousel">
    <div class="carousel-container">
      <div class="carousel-inner">
        <img src="src/assets/nike.svg" alt="Nike" />
        <img src="src/assets/adidas.svg" alt="Adidas" />
        <img src="src/assets/palm-angels.png" alt="Palm Angels" />
        <img src="src/assets/levis.svg" alt="Levi's" />
        <img src="src/assets/h-m.svg" alt="H&M" />
        <img src="src/assets/the-north-face.svg" alt="The North Face" />
      </div>
    </div>
  </div>
</div>

<style>
  .brands-carousel {
    text-align: center;
    margin: 2rem 0;
  }

  .carousel-container {
    width: 10%;
    margin: 0 auto;
  }

  .carousel-inner {
    display: flex;
    justify-content: center;
  }

  .carousel img {
    margin: 0 20px;
    height: 30px;
  }
</style>
